{% load static %}


<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} </title>
    <link rel="stylesheet" href= "{% static 'styles.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block header_links %}{% endblock header_links %}
    <link href="https://fonts.googleapis.com/css2?family=IRANSans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href= " {% url "contact" %} " >ارتباط با من</a></li>
                <li><a href=" {% url "about" %} ">درباره من</a></li>
                <li><a href=" {% url "posts" %} ">پست ها</a></li>
                <li><a href=" {% url "home" %} ">خانه</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    <footer>
        <h5> ما را در فضای مجازی دنبال کنید </h5>

        <div class="virtual-spaces">
            <a href="https://t.me/hamidr_bz" target="_blank"><i class="fab fa-telegram" aria-hidden="true"></i>Telegram</a> |
            <a href="https://www.instagram.com/hamidreza_bazyar2000" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i>Instagram</a> |
            <a href="mailto:h.r.bz1381@gmail.com" target="_blank"><i class="fa-solid fa-envelope" aria-hidden="true"></i>Email</a>
          </div>
          <p>© 2024 My Personal Blog. All Rights Reserved.</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
