{% extends "base.html" %}
{% load static %}

{% block title %}  {{ post.title }} {% endblock title %} 
{% block header_links %}
<link rel="stylesheet" href="{%static 'details.css' %}">
{% endblock header_links %}

{% block content %}
	<div class="container">
		<div class="post">
			<h1> {{ post.title }} </h1>
			<p> {{ post.body }} </p>
			<small> {{ post.date }} </small>
		</div>
			<div class="comment">
				{% for coment in coments %}
                <cite> {{coment.writerNAme}} </cite>
				<p> {{ coment.message }} </p>
				<small> {{ coment.date }} </small><hr/>
                {% endfor %}
				<form action = "" method = "post">
					{% csrf_token %}
					{{form }}
					<input type="submit" value=Submit">
				</form>
				
			</div>
		</div>
	</div>


{% endblock content %}

